body {
    font-family: Montserrat, sans-serif;
    color: white;
    background-color: rgb(204 0 0);
}

.logo__img {
    max-height: 60px;
}

.fs-small {
    font-size: 12px;
}

.fs-7 {
    font-size: .875rem;
}

.text-gray-5 {
    color: hsla(0, 0%, 100%, .5);
}

.mt-6 {
    margin-top: 5rem;
}

.navbar-menu {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    background: rgb(204 0 0);
    color: rgb(255, 255, 255);
}

.navbar-dark .navbar-nav .nav-link,
.dropdown-item {
    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link.active {
    color: rgb(228, 12, 91);
}

.dropdown-menu {
    background: rgb(51, 51, 51);
    border: 1px solid rgb(51, 51, 51);
    box-shadow: rgb(0 0 0 / 5%) 0px 1px 2px 0px;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: transparent;
    color: rgb(224, 224, 224);
}

.text-gray-2 {
    transition: all 0.15s ease-out 0s;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: rgb(79, 79, 79);
    font-weight: 400;
}

.mb-6 {
    margin-bottom: 5rem;
}

.text-pink {
    color: rgb(255, 76, 59);
}

.fw-medium {
    font-weight: 600;
}

.boder-white {
    border: 1px solid white;
}

#intro {
    background: linear-gradient(224.56deg, rgba(255, 255, 255, 0.16) -18.99%, rgba(255, 255, 255, 0) 97.62%), linear-gradient(133.09deg, rgb(255, 76, 59) -2.13%, rgb(228, 12, 91) 106.99%);
    overflow: hidden;
}

.intro {
    z-index: 9;
}

.intro__img--right {
    right: -190px;
}

a.text-gray-2 {
    color: rgb(130, 130, 130);
}

.text-gray-24 {
    color: rgb(242, 242, 242);
}

.navbar-dark .navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.space-x-8>:not([hidden])~:not([hidden]) {
    margin-right: 2;
    margin-left: 1rem;
}

.btn-gradient {
    background: linear-gradient(61.97deg, rgb(255, 76, 59) -2.84%, rgb(228, 12, 91) 86.13%);
    font-weight: 600;
    transition: all 250ms ease 0s;
    border: none;
    border-radius: 0.375rem;
}

.btn-gradient-small {
    vertical-align: 1px;
    display: inline-block;
    margin-left: 12px;
    padding: 2px 4px;
    background-image: linear-gradient(270deg, rgb(228, 26, 114) 0%, rgb(255, 147, 114) 100%);
    border-radius: 6px;
    font-size: 10px;
    color: rgb(255, 255, 255);
    line-height: 10px;
    text-decoration: none;
}

.btn-gradient-radius {
    user-select: none;
    font-weight: 600;
    font-size: 14px;
    color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 9%) 0px 2px 20px;
    border: 1px solid rgb(255, 76, 59);
    border-radius: 42px;
    background: linear-gradient(328.08deg, rgb(100, 90, 255) -40.69%, rgb(228, 12, 91) 36.17%, rgb(255, 76, 59) 79.87%);
    cursor: pointer;
    border: none;
}

.btn-gradient-radius:hover {
    opacity: 0.8;
    color: white;
}

.btn-gradient-radius-outline {
    user-select: none;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid rgb(255, 76, 59);
    border-radius: 42px;
    color: rgb(255, 76, 59);
    cursor: pointer;
}

.btn-gradient:hover {
    background: linear-gradient(61.97deg, rgb(227, 20, 0) -2.84%, rgb(223, 0, 82) 86.13%);
}

.btn-gradient:focus {
    box-shadow: none;
}

.btn-kar {
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    border-radius: 42px;
    background: rgb(255, 255, 255);
    color: rgb(255, 76, 59);
}

.btn-kar:hover {
    background: rgb(247, 247, 247);
    color: rgb(255, 76, 59);
}

.text-gray {
    color: #98a5ae;
}

.intro__type--item--img {
    height: 60px;
    object-fit: contain;
}

.intro__type {
    margin-top: 4rem;
}

#kusama {
    background: linear-gradient(97.43deg, rgba(255, 255, 255, 0) -18.25%, rgba(255, 255, 255, 0.1) 98.48%), rgb(204 0 0);
}

#airdrop {
    overflow: hidden;
    background: linear-gradient(248.74deg, rgba(255, 255, 255, 0) 4.29%, rgba(100, 90, 255, 0.08) 105.19%), rgb(248, 248, 248);
}

.airdrop__wrap {

    font-weight: 400;
}

.boder-dark {
    border: 1px solid rgb(51, 51, 51);
}

.pay,
.triangle {
    background-color: rgb(204 0 0);
}

.pay__line {
    border-bottom: 2px solid #FF4C3B;
    padding-bottom: .6rem;
}

.pay__mid {
    position: relative;
    z-index: 9;
    background: rgb(51, 51, 51);
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 9%) 0px 2px 20px;
}

.triangle {
    width: 100vw;
    height: 60px;
    margin-top: 8rem;
}

.triangle::after {
    content: " ";
    border-top: 60px solid transparent;
    border-right: 100vw solid rgb(204 0 0);
    width: 0px;
}

.triangle-bottom {
    width: 100vw;
    height: 60px;
    position: relative;
}

.triangle-bottom::before {
    content: " ";
    border-top: 60px solid rgb(204 0 0);
    border-right: 100vw solid transparent;
    width: 0px;
    position: absolute;
}

.kar__wrap {
    margin-top: 5rem;
}

.kar__item {
    background: rgba(48, 48, 48, 0.8);
    text-align: center;
    border-radius: 12px;
}

.kar__item--icon {
    line-height: 0;
    transform: translateY(-50%);
}

.owl-theme .owl-nav {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

.owl-prev span,
.owl-next span {
    color: rgb(228, 12, 91);
    font-size: 2rem;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: transparent;
}

.owl-prev {
    position: absolute;
    left: 1rem;
}

.owl-next {
    position: absolute;
    right: 1rem;
}

#acala {
    margin-top: 5rem;
    padding-bottom: 10rem !important;
    display: -webkit-flex;
    display: flex;
    background: url('../images/information-background.16833000.svg') 0 0/100% auto no-repeat, linear-gradient(#fff, 0, #f0f1f5 142px, #f0f1f5 1947px, #fff);
}

.acala__button {
    border: 2px solid var(--bs-blue);
    font-weight: 500;
}

.acala__button:hover {
    background-color: transparent;
    color: var(--bs-blue);
}

.acala__button:hover p {
    color: var(--bs-blue) !important;
}

.acala__exchange {
    -webkit-transform: translateY(-180px);
    transform: translateY(-180px);
    box-sizing: border-box;
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    background: #fff;
    border: 1px solid #ecf0f2;
    border-radius: 2px;
    box-shadow: 0 10px 20px 0 rgb(1 50 204 / 8%);
}

.acala__info--item {
    background: #fff;
    box-shadow: 0 10px 30px rgb(194 203 207 / 30%)
}

.acala__button--app {
    bottom: -9rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.acala__whitepaper--line {
    height: 1px;
    background: #ecf0f2;
}

#acala__whitepaper {
    max-height: 970px;
    background: url('../images/whitepaper-background.d1ddede6.svg') no-repeat, #4c00ff;
}

.acala__whitepaper {
    -webkit-transform: translateY(6rem);
    transform: translateY(6rem);
    box-shadow: 0 20px 72px rgb(1 50 204 / 15%);
}

#foundation {
    background-image: url('../images/councli-background.f962cf1d.svg');
    background-position: 100% 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.foundation-member__item--show,
.foundation-member__item--hide {
    transition: .3s ease-in-out;
    transition-delay: .2s;
    cursor: pointer;
    color: #333;
    font-weight: 400;
}

.foundation-member__item {
    -webkit-flex: 0 0 288px;
    flex: 0 0 288px;
    height: 414px;
    background: #fff;
    box-shadow: 0 6px 20px rgb(1 50 204 / 8%);
    overflow: hidden;
}

.foundation-member__item:hover .foundation-member__item--hide,
.foundation-member__item:hover .foundation-member__item--show {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

#our_team {
    background-color: #f7fbff;
}

.backer {
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.backer__item {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    width: 14%;
    height: 80px;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
    cursor: pointer;
    overflow: hidden;
}

#involved {
    border-radius: 1.86px;
    background: url('../images/get-involved-bg.eb73cfca.svg') 100% 0/auto 100% no-repeat, linear-gradient(-50deg, #3436ff, #5400ff);
}

.foundation-member__item--show img {
    height: 180px;
    width: 180px;
    object-fit: cover;
}

#footer {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.text-gray {
    color: rgba(209, 213, 219, 1);
}

.bg-gray {
    background-color: rgba(55, 65, 81, 1);
}

.copyright__text {
    font-size: 14px;
    color: rgb(224, 224, 224);
}

@media (min-width: 992px) {
    #acala__whitepaper {
        margin-bottom: 15rem;
    }

    .pay_bg {
        top: 325px;
        left: -120px;
    }
}

@media (min-width: 1200px) {
    #acala__whitepaper {
        margin-bottom: 7rem;
    }

    .foundation-member__item:hover .foundation-member__item--hide {
        margin-top: 0 !important;
    }

    .pay_bg {
        display: block;
        top: 385px;
        left: 0px;
    }
}

@media (max-width: 992px) {
    .backer__item {
        height: 80px;
        width: 50%;
    }

    .foundation-member__item {
        height: auto;
    }

    .foundation-member__item:hover .foundation-member__item--hide,
    .foundation-member__item:hover .foundation-member__item--show {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .foundation-member__item--show {
        display: none;
    }

    #acala__whitepaper {
        margin-bottom: 30rem;
    }

    .acala__button--app {
        position: relative !important;
        bottom: auto;
        width: 100%;
        justify-content: center;
    }

    #acala {
        padding-bottom: 3rem !important;
    }

    .space-x-8-md-none>:not([hidden])~:not([hidden]) {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    #acala__whitepaper {
        margin-bottom: 40rem;
    }
}

@media (max-width: 576px) {
    #acala__whitepaper {
        margin-bottom: 43rem;
    }
}

@media (max-width: 422px) {
    #acala__whitepaper {
        margin-bottom: 57rem;
    }
}

@media (max-width: 375px) {
    #acala__whitepaper {
        margin-bottom: 63rem;
    }
}